


.main_mod{
padding: 20px;
background: #201308;
border: 3px solid #ca965d;
border-radius: 10px;
position:absolute;
z-index: 2000;
width:500px;
}

.close_button {
	position:absolute;
	top:-20px;
	left:510px;
	z-index:2001;
	cursor: pointer;
}


.packs {
    position: relative;
	width:80px;
	height:80px;
	float:left;
}




.packs img {
    position: absolute;
}

.star_icon {
	/*width:50px;
	height:37px;
	left:8px;
	bottom:0;*/
}
 
 .frame_icon_img{
	 width:80px;
	 height:80px;
	 left:-8px;
 }
 
  .hero_icon{
	/*width:75px;
	height:75px;
	left:-8px;
	margin:2px;*/
 }
 
.lvl_icon{
left:12px;	
}

.level_text {
	position:absolute;
	left:21px;
	font-weight:900;
	top:5px;
}

.img_check {
	width:20px;
}

input[type=text] {
	background-color:#241409;
	color:white;
	 box-sizing: border-box;
	 border: 3px solid #ca965d;
	 border-radius: 10px;
}

.paragraph {
	margin-top:5px;
	margin-left:10px;
}





.checkboxed {
	border: 2px solid #ca965d;
	border-radius: 10px;
	background-color:#120401;
	height:50px;
	width:300px;
}

label {
	font-size:20px;
	margin-bottom:10px;

}




.heroes {
	width:100%;
	height:70px;
	margin:0 auto;
	
	
}

.level_icon{
	position:absolute;
	z-index:9998;
	left:15px;
	top:-2px;
	width:35px
}

.level_text{
	position:absolute;
	z-index:9999;
	font-size:12px;
	font-weight:700;
    left: 50%; /* position the left edge of the element at the middle of the parent */
	top:9px;
    transform: translate(-50%, -50%); /* This is a shorthand of
                                         translateX(-50%) and translateY(-50%) */
}


.hero_icon{
	left:0;
	position:absolute;
	width:63px;
	border-radius:10px;
}

.rank_icon{
	left:0;
	position:absolute;
	width:65px;
}

.star6_icon{
	left:13px;
	position:absolute;
	width:40px;
	bottom:0;
}


.star_icon{
	position:relative;
	width:13px;
	float:left;
	margin-top:48px;
	  display: block;
}



.one_hero {
	position:relative;
	width:65px;
	height:65px;
	float:left;
	